.blog-post {
    .hero {
        margin: 148px auto 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        max-width: 980px;
        min-height: 300px;
        background-image: linear-gradient(rgba(238, 67, 103, 0.6),
                           rgba(238, 67, 103, 0.6)), url("/images/blog-hero.png");
                           background-position: center;
    }
    @media only screen and (max-width:650px) {
        .hero {
            margin-top: 189px;
        }
    }
    .blog-post-text {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 120px;
        h1 {
            font-size: 20px;
            margin: 26px 0 30px;
            color: #EE4367;
            font-weight: normal;
        }
        p {
            color: #000;
            font-size: 20px;
            font-weight: lighter;
            margin-bottom: 30px;
        }
        .section {
            max-width: 980px;
            margin: auto 5%;
        }
    }
}