.date {
    height: 60px;
    width: 60px;
    background-color: #EE4367;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    .day {
        width: 24px;
        height: 26px;
        font-weight: bold;
        font-size: 22px;
        margin: 9px 0 0.4px;
    }
    .month {
        font-size: 12px;
        font-weight: lighter;
        height: 14px;
        margin-bottom: 10.5px;
    }
}

.date.large {
    height: 155.25px;
    width: 155.25px;
    justify-content: center ;
    .day {
        width: 60px;
        height: 60px;
        font-weight: bold;
        font-size: 55px;
        margin: 9px 0 0.4px;
    }
    .month {
        font-size: 31px;
        font-weight: lighter;
        height: 36px;
        margin-bottom: 10.5px;
    }
}