@import 'mixins.scss';
footer {
    background-color: #EE4367;
    min-height: 455px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    margin: auto;
    .logo {
        @include site-logo();
        margin: 35px 0 46px;
    }
    .contact-info {
        color: #fff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px;
        width: 250px;
        height: 67px;
        margin: 0 0 45px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between; 
        p {
            margin-bottom: 0;
        }
        a {
            text-decoration: none;
            color: #fff;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    .newsletter-subscription {
        max-width: 696px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 30px;
        input {
            height: 60px;
            background-color: #F56B88;
            border: none;
            padding: 23px 23px 20px;
            color: #fff;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 16px;
            width: 486px;
        }
        ::placeholder {
            color: #fff;
            opacity: 50%;
        }
        .email-entry:focus {
            outline: none;
        }
        .subscribe-btn {
            @include site-button(#fff, #EE4367);
            width: 167px;
            height: 60px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
    @media only screen and (max-width:720px) {
            .newsletter-subscription {
                input {
                    max-width: 350px;
                }
            }
    }
    @media only screen and (max-width:540px) {
        .newsletter-subscription {
            flex-direction: column;
            align-items: normal;
            max-width: 288px;
            input {
                max-width: 288px;
            }
            .subscribe-btn {
                width:auto;
            }
        }
    }

    @media only screen and (max-width:319px) {
        .newsletter-subscription {
            max-width: 250px;
            input {
                max-width: 250px;
                padding: 23px 14    px 20px;
            }
            .subscribe-btn {
                width:auto;
                padding: 23px 23px 20px;
            }
        }
    }

    .social-media {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 155px;
        img {
            height: 31.22px;
            width: 31.22px;
            user-select: none;
        }

        }
    }

    .copyright {
        margin: 45px 0 35px;
        font-size: 12px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        opacity: 50%;
        color: #fff;
        }
