@mixin site-logo($color: #fff) {
    max-width: 92px;
    max-height: 42px;
    border: solid 2px $color;
    display:flex;
    justify-content: center;
    align-items: baseline;
    font-size: 20px;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-right: 24px;
    color: $color;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
}

@mixin site-button($background-color: #EE4367, $color: #fff) {
    background-color: $background-color;
    color: $color;
    border: none;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    min-width: max-content;
    user-select: none;
    text-decoration: none;
    min-width: 121.62px;
    min-height: 40.04px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin page-header() {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    padding-bottom: 10.5px;
    border-bottom: solid 2px #000;
    width: 229px;
}