@import '../mixins.scss';
.nav-container {
    position: absolute;
    max-width: 980px;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 2px #000;
    user-select: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    .logo {
        @include site-logo(#000);
    }

    .links {
        height: 18px;
        width: 498px;
        //background-color: darkblue;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 47px;
        margin-bottom: 27px;
        letter-spacing: 1px;
        font-size: 15px;

        a {
            color: #000;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    span {
        font-size: 30px;
        color: #EE4367;
    }
}
@media only screen and (max-width:1023px) {
    .nav-container   {
        justify-content: space-around;
    }
}

@media only screen and (max-width:650px) {
    .nav-container   {
        flex-direction: column;
        align-items: center;
        .logo {
            margin-top: 25px;
            margin-bottom: 0px;
        }
        .links {
        margin-top: 25px;
        margin-bottom: 25px;
        width:100%;
        }
    }
}