.nav-container {
  position: absolute;
  max-width: 980px;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 2px #000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.nav-container .logo {
  max-width: 92px;
  max-height: 42px;
  border: solid 2px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 20px;
  letter-spacing: 1px;
  padding-top: 20px;
  padding-right: 24px;
  color: #000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.nav-container .links {
  height: 18px;
  width: 498px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 47px;
  margin-bottom: 27px;
  letter-spacing: 1px;
  font-size: 15px;
}
.nav-container .links a {
  color: #000;
  text-decoration: none;
}
.nav-container .links a:hover {
  text-decoration: underline;
}
.nav-container span {
  font-size: 30px;
  color: #EE4367;
}

@media only screen and (max-width: 1023px) {
  .nav-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media only screen and (max-width: 650px) {
  .nav-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-container .logo {
    margin-top: 25px;
    margin-bottom: 0px;
  }
  .nav-container .links {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.nav-container.home {
  border-bottom: solid 2px #fff;
}
.nav-container.home .logo {
  max-width: 92px;
  max-height: 42px;
  border: solid 2px #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 20px;
  letter-spacing: 1px;
  padding-top: 20px;
  padding-right: 24px;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.nav-container.home .links a {
  color: #fff;
}

.nav-container {
  position: absolute;
  max-width: 980px;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 2px #000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.nav-container .logo {
  max-width: 92px;
  max-height: 42px;
  border: solid 2px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 20px;
  letter-spacing: 1px;
  padding-top: 20px;
  padding-right: 24px;
  color: #000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.nav-container .links {
  height: 18px;
  width: 498px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 47px;
  margin-bottom: 27px;
  letter-spacing: 1px;
  font-size: 15px;
}
.nav-container .links a {
  color: #000;
  text-decoration: none;
}
.nav-container .links a:hover {
  text-decoration: underline;
}
.nav-container span {
  font-size: 30px;
  color: #EE4367;
}

@media only screen and (max-width: 1023px) {
  .nav-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media only screen and (max-width: 650px) {
  .nav-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-container .logo {
    margin-top: 25px;
    margin-bottom: 0px;
  }
  .nav-container .links {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
  }
}
.date {
  height: 60px;
  width: 60px;
  background-color: #EE4367;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
}
.date .day {
  width: 24px;
  height: 26px;
  font-weight: bold;
  font-size: 22px;
  margin: 9px 0 0.4px;
}
.date .month {
  font-size: 12px;
  font-weight: lighter;
  height: 14px;
  margin-bottom: 10.5px;
}

.date.large {
  height: 155.25px;
  width: 155.25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.date.large .day {
  width: 60px;
  height: 60px;
  font-weight: bold;
  font-size: 55px;
  margin: 9px 0 0.4px;
}
.date.large .month {
  font-size: 31px;
  font-weight: lighter;
  height: 36px;
  margin-bottom: 10.5px;
}

.home .hero {
  min-height: 500px;
  max-width: 1280px;
  margin: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 209, 64, 0.8)), to(rgba(255, 209, 64, 0.8))), url("../images/home-hero.png");
  background-image: linear-gradient(rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url("../images/home-hero.png");
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-align: center;
}
.home .hero .header {
  font-size: 40px;
  font-family: "PT Serif";
  margin-top: 155px;
}
.home .hero .subheader {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  color: #EE4367;
  margin: 9px 5% 49px;
}
.home .hero .description {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  max-width: 420px;
  margin: 0 5%;
}
.home .hero .read-more {
  background-color: #EE4367;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  min-width: 121.62px;
  min-height: 40.04px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 48px 0 73px;
}
.home .testimonial {
  min-height: 300px;
  max-width: 1280px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .testimonial .testimonial-text {
  max-width: 789px;
  margin: auto 5%;
}
.home .testimonial .testimonial-text .quote {
  margin-top: 77px;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #FFD140;
  max-width: 789px;
  min-height: 90px;
  letter-spacing: 1.6px;
}
.home .testimonial .testimonial-text .quotee {
  min-height: 20px;
  width: 75px;
  color: #EE4367;
  font-family: "PT Serif";
  font-size: 15px;
  margin: 19px 0 5px;
  display: block;
}
.home .testimonial .testimonial-text .quotee-title {
  color: #A8A8A8;
  font-size: 10px;
  font-family: "PT Serif";
  height: 13px;
  margin-bottom: 76px;
}
.home .upcoming-events {
  background-color: #540D6E;
  padding: 50px 40px;
  max-width: 1280px;
  margin: auto;
  min-height: 320px;
}
.home .upcoming-events .header {
  text-transform: uppercase;
  max-width: 392px;
  border-bottom: solid 2px #fff;
  color: #fff;
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-bottom: 10.5px;
  margin-bottom: 35px;
}
.home .upcoming-events .events-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.home .upcoming-events .events-list .event {
  width: 220px;
  height: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}
.home .upcoming-events .events-list .event .event-text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fff;
  width: 140px;
  margin-left: 20px;
}
.home .upcoming-events .events-list .event .event-text .title {
  width: 140px;
  min-height: 41px;
  font-size: 15px;
}
.home .upcoming-events .events-list .event .event-text .description {
  font-size: 13px;
  width: 140px;
  min-height: 78px;
  color: #EE4367;
}
@media only screen and (max-width: 1279px) {
  .home .upcoming-events .event {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .home .upcoming-events .header {
    margin: auto auto 35px;
  }
  .home .upcoming-events .events-list {
    max-width: 480px;
    margin: auto;
  }
}
@media only screen and (max-width: 560px) {
  .home .upcoming-events .header {
    text-align: center;
  }
  .home .upcoming-events .events-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home .upcoming-events .events-list .event {
    margin-right: 0;
  }
}

.about .hero {
  height: 378.75px;
  max-width: 979.03px;
  margin: 178px auto 52.3px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 209, 64, 0.8)), to(rgba(255, 209, 64, 0.8))), url("../images/about-hero.png");
  background-image: linear-gradient(rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url("../images/about-hero.png");
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.about .hero .header {
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  padding-bottom: 10.5px;
  border-bottom: solid 2px #000;
  width: 229px;
  margin: 354px 0 0;
  position: absolute;
}
@media only screen and (max-width: 1024px) {
  .about .hero .header {
    margin: 354px 3% 0;
  }
}
@media only screen and (max-width: 975px) {
  .about .hero .header {
    margin: 354px 5% 0;
  }
}
.about .about-description {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .about-description .description-text {
  min-height: 226.5px;
  max-width: 980px;
  margin: 0 5%;
}
.about .about-description .description-text p {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #000;
  letter-spacing: 1.6px;
  font-style: italic;
}

.gallery {
  max-width: 1280px;
  margin: auto;
}
.gallery .gallery-section {
  max-width: 980px;
  margin-top: 158px;
  margin: 158px auto 60px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.gallery .gallery-section .header {
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  padding-bottom: 10.5px;
  border-bottom: solid 2px #000;
  width: 229px;
  margin-bottom: 28.5px;
}
.gallery .gallery-section .gallery-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}
.gallery .gallery-section .gallery-images .image {
  margin-bottom: 20px;
}
.gallery .gallery-section .gallery-images .image .food-festival {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 209, 64, 0.7)), to(rgba(255, 209, 64, 0.7))), url("../images/food-festival-icon.png");
  background-image: linear-gradient(rgba(255, 209, 64, 0.7), rgba(255, 209, 64, 0.7)), url("../images/food-festival-icon.png");
  background-position: center;
  width: 489px;
  height: 187px;
}
.gallery .gallery-section .gallery-images .image .dee-jay {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 67, 103, 0.7)), to(rgba(238, 67, 103, 0.7))), url("../images/dee-jay-icon.png");
  background-image: linear-gradient(rgba(238, 67, 103, 0.7), rgba(238, 67, 103, 0.7)), url("../images/dee-jay-icon.png");
  background-position: center;
  width: 187px;
  height: 187px;
}
.gallery .gallery-section .gallery-images .image .speech {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 173, 105, 0.7)), to(rgba(8, 173, 105, 0.7))), url("../images/speech-icon.png");
  background-image: linear-gradient(rgba(8, 173, 105, 0.7), rgba(8, 173, 105, 0.7)), url("../images/speech-icon.png");
  background-position: center;
  width: 265px;
  height: 187px;
}
.gallery .gallery-section .gallery-images .image .open-foodfest {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(84, 13, 110, 0.7)), to(rgba(84, 13, 110, 0.7))), url("../images/open-foodfest-icon.png");
  background-image: linear-gradient(rgba(84, 13, 110, 0.7), rgba(84, 13, 110, 0.7)), url("../images/open-foodfest-icon.png");
  background-position: center;
  width: 603px;
  height: 306px;
}
.gallery .gallery-section .gallery-images .image .international {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(59, 206, 171, 0.7)), to(rgba(59, 206, 171, 0.7))), url("../images/international-icon.png");
  background-image: linear-gradient(rgba(59, 206, 171, 0.7), rgba(59, 206, 171, 0.7)), url("../images/international-icon.png");
  background-position: center;
  width: 355px;
  height: 306px;
}
@media only screen and (max-width: 1019px) {
  .gallery .gallery-section {
    margin: 158px 5% 40px;
  }
  .gallery .gallery-section .gallery-images {
    max-width: 757px;
  }
  .gallery .gallery-section .gallery-images .image .food-festival {
    width: 265px;
  }
  .gallery .gallery-section .gallery-images .image .open-foodfest {
    width: 368px;
  }
  .gallery .gallery-section .gallery-images .image .international {
    width: 368px;
  }
}
@media only screen and (max-width: 842px) {
  .gallery .gallery-section .gallery-images {
    max-width: 601px;
  }
  .gallery .gallery-section .gallery-images .image .food-festival {
    width: 187px;
  }
  .gallery .gallery-section .gallery-images .image .speech {
    width: 187px;
  }
  .gallery .gallery-section .gallery-images .image .open-foodfest {
    width: 601px;
  }
  .gallery .gallery-section .gallery-images .image .international {
    width: 601px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(59, 206, 171, 0.7)), to(rgba(59, 206, 171, 0.7))), url("../images/international-icon-med.png");
    background-image: linear-gradient(rgba(59, 206, 171, 0.7), rgba(59, 206, 171, 0.7)), url("../images/international-icon-med.png");
    background-position: center;
  }
}
@media only screen and (max-width: 668px) {
  .gallery .gallery-section .gallery-images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    max-width: 489px;
  }
  .gallery .gallery-section .gallery-images .image .food-festival {
    width: auto;
  }
  .gallery .gallery-section .gallery-images .image .dee-jay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 67, 103, 0.7)), to(rgba(238, 67, 103, 0.7))), url("../images/dee-jay-icon-wide.png");
    background-image: linear-gradient(rgba(238, 67, 103, 0.7), rgba(238, 67, 103, 0.7)), url("../images/dee-jay-icon-wide.png");
    background-position: center;
    width: auto;
  }
  .gallery .gallery-section .gallery-images .image .speech {
    width: auto;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 173, 105, 0.7)), to(rgba(8, 173, 105, 0.7))), url("../images/speech-icon-wide.png");
    background-image: linear-gradient(rgba(8, 173, 105, 0.7), rgba(8, 173, 105, 0.7)), url("../images/speech-icon-wide.png");
    background-position: center;
  }
  .gallery .gallery-section .gallery-images .image .open-foodfest {
    width: auto;
    height: 187px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(84, 13, 110, 0.7)), to(rgba(84, 13, 110, 0.7))), url("../images/open-foodfest-icon-wide.png");
    background-image: linear-gradient(rgba(84, 13, 110, 0.7), rgba(84, 13, 110, 0.7)), url("../images/open-foodfest-icon-wide.png");
  }
  .gallery .gallery-section .gallery-images .image .international {
    width: auto;
    height: 187px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(59, 206, 171, 0.7)), to(rgba(59, 206, 171, 0.7))), url("../images/international-icon-wide.png");
    background-image: linear-gradient(rgba(59, 206, 171, 0.7), rgba(59, 206, 171, 0.7)), url("../images/international-icon-wide.png");
  }
}

.event-page .hero {
  height: 400px;
  max-width: 980px;
  margin: 143px auto 0;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.1607843137);
}
.event-page .hero .event-number {
  margin-top: 118px;
  width: 222px;
  height: 351px;
  font-size: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;
}
.event-page .hero .event-name {
  font-size: 115px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  max-width: 713px;
  height: 164px;
}
.event-page .hero.food-festival {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 209, 64, 0.7)), to(rgba(255, 209, 64, 0.7))), url("../images/food-festival-hero.png");
  background-image: linear-gradient(rgba(255, 209, 64, 0.7), rgba(255, 209, 64, 0.7)), url("../images/food-festival-hero.png");
  color: #FFD140;
}
.event-page .hero.dee-jay {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 67, 103, 0.7)), to(rgba(238, 67, 103, 0.7))), url("../images/dee-jay-hero.png");
  background-image: linear-gradient(rgba(238, 67, 103, 0.7), rgba(238, 67, 103, 0.7)), url("../images/dee-jay-hero.png");
  color: #EE4367;
}
.event-page .hero.speech {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 173, 105, 0.7)), to(rgba(8, 173, 105, 0.7))), url("../images/speech-hero.png");
  background-image: linear-gradient(rgba(8, 173, 105, 0.7), rgba(8, 173, 105, 0.7)), url("../images/speech-hero.png");
  color: #08AD69;
}
.event-page .hero.open-foodfest {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(84, 13, 110, 0.7)), to(rgba(84, 13, 110, 0.7))), url("../images/open-foodfest-hero.png");
  background-image: linear-gradient(rgba(84, 13, 110, 0.7), rgba(84, 13, 110, 0.7)), url("../images/open-foodfest-hero.png");
  color: #540D6E;
}
.event-page .hero.international {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(59, 206, 171, 0.7)), to(rgba(59, 206, 171, 0.7))), url("../images/open-foodfest-hero.png");
  background-image: linear-gradient(rgba(59, 206, 171, 0.7), rgba(59, 206, 171, 0.7)), url("../images/open-foodfest-hero.png");
  color: #3BCEAB;
}
@media only screen and (max-width: 940px) {
  .event-page .hero .event-number {
    margin-top: 267px;
    height: 164px;
    width: auto;
    font-size: 140px;
    margin-left: 5%;
  }
  .event-page .hero .event-name {
    font-size: 70px;
    max-width: 713px;
    height: 82px;
  }
}
@media only screen and (max-width: 650px) {
  .event-page .hero {
    margin-top: 188px;
  }
}
@media only screen and (max-width: 545px) {
  .event-page .hero .event-number {
    margin-top: 335px;
    height: auto;
    width: auto;
    font-size: 70px;
  }
  .event-page .hero .event-name {
    font-size: 45px;
    max-width: 713px;
    height: auto;
  }
}
.event-page .event-description {
  max-width: 1088px;
  margin: 50px auto 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 133px;
}
.event-page .event-description .description-text {
  max-width: 980px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 5%;
}
.event-page .event-description .description-text p1 {
  max-width: 490px;
  min-height: 133px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 1.6px;
}
.event-page .event-description .description-text p2 {
  max-width: 450px;
  min-height: 133px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 1.6px;
}
@media only screen and (max-width: 850px) {
  .event-page .event-description .description-text {
    max-width: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .event-page .event-description .description-text p1 {
    margin-bottom: 40px;
  }
}

.blogs {
  max-width: 980px;
  margin: 158px auto 86px;
}
.blogs .header {
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  padding-bottom: 10.5px;
  border-bottom: solid 2px #000;
  width: 229px;
}
.blogs .blog-list {
  margin-top: 29.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogs .blog-list .blog-display {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 460px;
  min-height: 257px;
  margin-bottom: 30px;
}
.blogs .blog-list .blog-display .blog-image {
  margin-left: 20px;
  background-image: url("../images/blog-icon.png");
  height: 140px;
  width: 380px;
}
.blogs .blog-list .blog-display .title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  color: #000;
  margin-top: 20px;
  max-width: 380px;
}
.blogs .blog-list .blog-display .description {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 13px;
  color: #EE4367;
  margin-top: 11px;
  max-width: 380px;
}
@media only screen and (max-width: 1023px) {
  .blogs .header {
    margin-left: 5%;
  }
  .blogs .blog-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media only screen and (max-width: 650px) {
  .blogs .blogs .header {
    margin-top: 189px;
  }
}
@media only screen and (max-width: 500px) {
  .blogs .blog-list .blog-display {
    margin: auto 5% 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .blogs .blog-list .blog-display .blog-image {
    margin-left: 0;
    background-image: url("../images/blog-icon.png");
    background-position: center;
    height: 140px;
    max-width: 380px;
    width: 100%;
  }
}

.blog-post .hero {
  margin: 148px auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 980px;
  min-height: 300px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 67, 103, 0.6)), to(rgba(238, 67, 103, 0.6))), url("../images/blog-hero.png");
  background-image: linear-gradient(rgba(238, 67, 103, 0.6), rgba(238, 67, 103, 0.6)), url("../images/blog-hero.png");
  background-position: center;
}
@media only screen and (max-width: 650px) {
  .blog-post .hero {
    margin-top: 189px;
  }
}
.blog-post .blog-post-text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 120px;
}
.blog-post .blog-post-text h1 {
  font-size: 20px;
  margin: 26px 0 30px;
  color: #EE4367;
  font-weight: normal;
}
.blog-post .blog-post-text p {
  color: #000;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 30px;
}
.blog-post .blog-post-text .section {
  max-width: 980px;
  margin: auto 5%;
}

.contact {
  max-width: 980px;
  min-height: 525px;
  margin: 158px auto 100px;
}
.contact .contact-header {
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  padding-bottom: 10.5px;
  border-bottom: solid 2px #000;
  width: 229px;
  margin-bottom: 64px;
}
.contact .contactLayout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact .contactLayout .map img {
  max-width: 400px;
  width: 100%;
}
.contact .contactLayout .contactForm {
  max-width: 529px;
}
.contact .contactLayout .contactForm .textFields {
  width: 100%;
  height: 60px;
  margin-bottom: 21px;
  padding-left: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  resize: none;
  background-color: #F5F5F5;
  border: none;
}
.contact .contactLayout .contactForm textarea {
  padding-top: 20px;
  min-height: 200px;
}
.contact .contactLayout .contactForm .submit {
  width: 167px;
  height: 60px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  background-color: #EE4367;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  min-width: 121.62px;
  min-height: 40.04px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1023px) {
  .contact-header {
    margin-left: 5%;
  }
  .contactLayout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .submit {
    margin: auto;
  }
}
@media only screen and (max-width: 980px) {
  .contactLayout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto 5%;
  }
  .contactLayout .map {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 650px) {
  .contact .contact-header {
    margin-top: 189px;
  }
}
@media only screen and (max-width: 445px) {
  .contactLayout .map {
    width: auto;
    height: auto;
  }
}
footer {
  background-color: #EE4367;
  min-height: 455px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1280px;
  margin: auto;
}
footer .logo {
  max-width: 92px;
  max-height: 42px;
  border: solid 2px #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 20px;
  letter-spacing: 1px;
  padding-top: 20px;
  padding-right: 24px;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 35px 0 46px;
}
footer .contact-info {
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  width: 250px;
  height: 67px;
  margin: 0 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .contact-info p {
  margin-bottom: 0;
}
footer .contact-info a {
  text-decoration: none;
  color: #fff;
}
footer .contact-info a:hover {
  text-decoration: underline;
}
footer .newsletter-subscription {
  max-width: 696px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
footer .newsletter-subscription input {
  height: 60px;
  background-color: #F56B88;
  border: none;
  padding: 23px 23px 20px;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  width: 486px;
}
footer .newsletter-subscription ::-webkit-input-placeholder {
  color: #fff;
  opacity: 50%;
}
footer .newsletter-subscription ::-moz-placeholder {
  color: #fff;
  opacity: 50%;
}
footer .newsletter-subscription :-ms-input-placeholder {
  color: #fff;
  opacity: 50%;
}
footer .newsletter-subscription ::-ms-input-placeholder {
  color: #fff;
  opacity: 50%;
}
footer .newsletter-subscription ::placeholder {
  color: #fff;
  opacity: 50%;
}
footer .newsletter-subscription .email-entry:focus {
  outline: none;
}
footer .newsletter-subscription .subscribe-btn {
  background-color: #fff;
  color: #EE4367;
  border: none;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  min-width: 121.62px;
  min-height: 40.04px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 167px;
  height: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media only screen and (max-width: 720px) {
  footer .newsletter-subscription input {
    max-width: 350px;
  }
}
@media only screen and (max-width: 540px) {
  footer .newsletter-subscription {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    max-width: 288px;
  }
  footer .newsletter-subscription input {
    max-width: 288px;
  }
  footer .newsletter-subscription .subscribe-btn {
    width: auto;
  }
}
@media only screen and (max-width: 319px) {
  footer .newsletter-subscription {
    max-width: 250px;
  }
  footer .newsletter-subscription input {
    max-width: 250px;
    padding: 23px 14 px 20px;
  }
  footer .newsletter-subscription .subscribe-btn {
    width: auto;
    padding: 23px 23px 20px;
  }
}
footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 155px;
}
footer .social-media img {
  height: 31.22px;
  width: 31.22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.copyright {
  margin: 45px 0 35px;
  font-size: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  opacity: 50%;
  color: #fff;
}